body{
font-family:times,arial,serif;
}

header{
background-color:#95027B;
color:white;
padding:10px;
margin:0;
overflow:hidden;
}
header img{
float:left;
width:100px;
height:100px;
margin-right:10px;
}
header h1{
  padding:0;
   margin:0 0 0 5px;
   font-size:2.2em;
}
header h2{
  padding:0;
  margin:0;
 font-size:1.2em;
}
.nav ul{
   list-style-type:none;
   background-color:green;
   padding:0;
   margin:0;
  overflow:hidden;
}
.nav li{
     float: left;
}
.nav li a{
text-decoration:none;
padding:10px 25px;
display:block;
color:black;
}
.nav li a:hover{
background-color:white;
color:black;
}
.content{
padding: 0 10px;
border:2px solid green;
}
.content h1{
   margin:10px;
   font-size:1.5em;
  color: #540055;
} 
.content center{
  float: center;
  margin:10px;
  box-shadow:2px 3px 5px 1px;  
}
.footer{
padding:0 10px;
color:#540055;
}








